html, body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

.name-tag {
    position: absolute;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 9px;
    top: 0;
    left: 0;
    background-color: rgba(72, 61, 139, 0.5);
    color: white;
}

.interact-helper {
    position: absolute;
    padding: 0 10px;
    line-height: 24px;
    height: 24px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 13px;
    top: 0;
    left: 0;
    background-color: rgba(72, 61, 139, 0.8);
    color: white;
}

.interact-website {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.interact-website iframe {
    border: none;
    width: 100%;
    height: 100%;
}
